C#/RefactorMe/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
C#/RefactorMe/obj/Debug/RefactorMe.csproj.AssemblyReference.cache
C#/RefactorMe.DontRefactor/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
C#/RefactorMe.DontRefactor/obj/Debug/RefactorMe.DontRefactor.csproj.AssemblyReference.cache
C#/RefactorMe.Tests/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
C#/RefactorMe.Tests/obj/Debug/RefactorMe.Tests.csproj.AssemblyReference.cache
